.header {
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  z-index: 2;
}

.home-logo {
  padding-left: 3%;
  width: 200px;
  height: 67px;
  z-index: 2;
  cursor: pointer;
  transition: width 1s, height 1s;
}

.signin-btn {
  margin-top: 1%;
  margin-right: 3%;
  width: 150px;
  height: 51px;
  background-color: black;
  z-index: 2;
  cursor: pointer;
  transition: width 1s, height 1s;
}

/* Para 1920x1080 */
@media screen and (min-width: 1700px) {}

/* Para mobile */
@media screen and (max-width: 450px) {
  .home-logo {
    height: 57px;
    width: 170px
  }

  .signin-btn {
    height: 41px;
    width: 120px;
  }
}