.header {
  padding: 20px 0;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  z-index: 2;
}

.home-logo {
  padding-left: 3%;
  width: 150px;
  height: auto;
  z-index: 2;
  cursor: pointer;
  transition: width 1s, height 1s;
}

.home-img {
  width: 100%;
  height: auto;
  pointer-events: none;
}

.signin-btn {
  display:flex;
  justify-content:center;
  align-items: center;
  margin-top: 1%;
  margin-right: 3%;
  width: 150px;
  height: 51px;
  background-color: black;
  z-index: 2;
  font-size:22px;
  font-family:'Courier New', Courier, monospace;
  font-weight: 400;
  color:white;
  cursor: pointer;
  transition: width 1s, height 1s;
}

.signin-btn-img{
  width:100%;
  height:auto;
  pointer-events: none;
}

/* Para 1920x1080 */
@media screen and (min-width: 1700px) {

  .home-logo {
    width: 220px;
  }

  .signin-btn {
    width: 220px;
    height: 75px;
  }
}

/* Para mobile */
@media screen and (max-width: 450px) {
  .home-logo {
    width: 130px
  }

  .signin-btn {
    width: 120px;
  }
}