  .footer {
    height: 70px;
    background-color: rgb(0, 0, 0);
    padding: 20px 0;
    transform: rotate(-1.3deg);
    border-bottom: 100px;
    border-color: black;
    border-style: solid;
    margin-left: -1%;
    width: 103%;
    margin-bottom: -5%;
    display: grid;
    justify-content: center;
  }

  .container-footer {
    transform: rotate(1.3deg);
    margin-left: -3%;
    width: max-content;
    display: grid;
    justify-content: center;
  }

  .contact-footer {
    margin-top: 10%;
    height: 93px;
    width: 250px;
  }

  .green-bar-footer-l {
    position: absolute;
    height: 20px;
    width: 15%;
    background: #4AC959;
    left: 50%;
    min-width: 150px;
  }

  .green-bar-footer-r {
    position: absolute;
    height: 20px;
    width: 15%;
    background: #4AC959;
    right: 50%;
    min-width: 150px;

  }

  .footer-contact{
    display:grid;
    grid-auto-flow: row;
    gap:4px;
    width:300px;
    justify-content: center;
    align-items: center;
    margin-bottom: -18%;
  }

  .email-text-footer {
    font-weight: 400;
    font-size: 30px;
    color: white
  }

  .help-text-footer {
    font-weight: 400;
    font-size: 30px;
    color: white
  }

  .reserve-text-footer{
    font-size: 18px;
    color: white
  }

  .txt-wrp{
    display:grid;
    justify-content: center;
  }

  /* Para 1920x1080 */
  @media screen and (min-width: 1700px) {
    .footer {
      height: 10%;
      margin-top: 5%;
    }
  }

  /* Para mobile */
  @media screen and (max-width: 450px) {

    .email-text-footer {
      font-size: 23px;
    }
  
    .help-text-footer {
      font-size: 23px;
    }
  
    .reserve-text-footer{
      font-size: 12px;
    }

  }